<style type="text/css">
	._md-toolbar-transitions {
		min-height: 40px !important;
	}
	.md-toolbar-tools {
		height: 40px !important;
	}
</style>
<md-dialog aria-label="contactType">
	<form ng-cloak>
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>User</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="hide()">
	          <md-icon>close</md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
		<md-dialog-content >
			<div class="md-dialog-content">
				<table>
					<tr>
						<td>Code:</td>
						<td><input type="text" ng-model="contactType.code"></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><input type="text" ng-model="contactType.description"></td>
					</tr>
				</table>
			</div>
		</md-dialog-content>
		
		<md-dialog-actions layout="row">
			<md-button class="md-button md-raised md-primary button-override" ng-click="submit()">Submit</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>