<style type="text/css">
	._md-toolbar-transitions {
		min-height: 40px !important;
	}
	.md-toolbar-tools {
		height: 40px !important;
	}
</style>
<md-dialog aria-label="person" style="width:500px;">
	<form ng-cloak>
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>Prospect</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="hide()">
	          <md-icon>close</md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
		<md-dialog-content >
			<div class="md-dialog-content">
				<table style="min-width:400px;">
					<tr ng-show="person.personId > 0">
						<td colspan="4" style="padding:0px 0px 20px 0px;">
							<input type="radio" name="action" value="upd" ng-model="action" ng-click="checkAction(this)" style="margin-left:-1px;">Edit
							<input type="radio" name="action" value="del" ng-model="action" ng-click="checkAction(this)">Delete
						</td>
					</tr>
					<tr ng-show="person.personId > 0">
						<td>Set as</td>
						<td>
							<md-input-container>
								<label>Select contact type</label>
								<md-select ng-model="person.contactType" ng-model-options="{trackBy: '$value.code'}" style="width:175px !important;">
									<md-option ng-value="cType" ng-repeat="cType in contactTypes">{{cType.description}}</md-option>
								</md-select>
							</md-input-container>
						</td>
					</tr>	
					<tr>
						<td colspan="4">
							Personal Information:
						</td>
					</tr>
					
					<tr>
						<td>First Name</td>
						<td ng-show="!viewOnly"><input type="text" ng-model="person.firstName"></td>
						<td ng-show="viewOnly">{{person.firstName}}</td>
					<tr>
						<td>Middle Name</td>
						<td ng-show="!viewOnly"><input type="text" ng-model="person.middleName"></td>
						<td ng-show="viewOnly">{{person.middleName}}</td>
					</tr>
					<tr>
						<td>Last Name</td>
						<td ng-show="!viewOnly"><input type="text" ng-model="person.lastName"></td>
						<td ng-show="viewOnly">{{person.lastName}}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td ng-show="!viewOnly"><input type="text" ng-model="person.email"></td>
						<td ng-show="viewOnly">{{person.email}}</td>
					<tr>	
						<td>Birthdate</td>
						<td ng-show="!viewOnly"><md-datepicker class="p-date-picker" ng-model="person.birthDate"></md-datepicker></td>
						<td ng-show="viewOnly">{{person.birthDate | date: 'yyyy-MM-dd'}}</td>
					</tr>
					<tr>
						<td colspan="4">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="4">Address:</td>
					</tr>
					<tr>
						<td>Adress 1</td>
						<td ng-if="!viewOnly"><input type="text" ng-model="person.address1"></td>
						<td ng-if="viewOnly">{{person.address1}}</td>
					</tr>
					<tr>
						<td>Adress 2</td>
						<td ng-show="!viewOnly"><input type="text" ng-model="person.address2"></td>
						<td ng-show="viewOnly">{{person.address2}}</td>
					</tr>
					<tr>
						<td>Barangay</td>
						<td ng-show="!viewOnly"><input type="text" ng-model="person.barangay"></td>
						<td ng-show="viewOnly">{{person.barangay}}</td>
					</tr>
					<tr>
						<td>City/Municipality</td>
						<td ng-if="!viewOnly"><input type="text" ng-model="person.cityOrMunicipality"></td>
						<td ng-if="viewOnly">{{person.cityOrMunicipality}}</td>
					</tr>
					<tr>
						<td>Province</td>
						<td ng-show="!viewOnly"><input type="text" ng-model="person.province"></td>
						<td ng-show="viewOnly">{{person.province}}</td>
					</tr>
					<tr>
						<td>Postal Code</td>
						<td ng-show="!viewOnly"><input type="text" ng-model="person.postalCode"></td>
						<td ng-show="viewOnly">{{person.postalCode}}</td>
					</tr>
				</table>
			</div>
		</md-dialog-content>
		
		<md-dialog-actions layout="row">
			<md-button class="md-button md-raised md-primary button-override" ng-click="submit()">Submit</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>