<style type="text/css">
	._md-toolbar-transitions {
		min-height: 40px !important;
	}
	.md-toolbar-tools {
		height: 40px !important;
	} 
</style>
<md-dialog aria-label="user" style="width:285px;">
	<form ng-cloak>
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>User</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="hide()">
	          <md-icon>close</md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
		<md-dialog-content >
			<div class="md-dialog-content">
				<table>
					<tr ng-show="user.userId > 0">
						<td colspan="4" style="padding:0px 0px 20px 0px;">
							<input type="radio" name="action" value="upd" ng-model="action" ng-click="checkAction(this)" style="margin-left:-1px;">Edit
							<input type="radio" name="action" value="del" ng-model="action" ng-click="checkAction(this)">Delete
						</td>
					</tr>
					<tr>
						<td>Username:</td>
						<td>
							<input type="text" ng-model="user.username" ng-show="!viewOnly"/>
							<span ng-show="viewOnly">{{user.username}}</span>
						</td>
					</tr>
					<tr>
						<td>Password:</td>
						<td>
							<input type="password" ng-model="user.password" ng-show="!viewOnly"/>
							<span ng-show="viewOnly">{{user.password}}</span>
						</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>
							<input type="text" ng-model="user.email" ng-show="!viewOnly"/>
							<span ng-show="viewOnly">{{user.email}}</span>
						</td>
					</tr>
				</table>
			</div>
		</md-dialog-content>
		
		<md-dialog-actions layout="row">
			<md-button class="md-button md-raised md-primary button-override" ng-click="submit()">Submit</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>